.Modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.16);
  }
  .Modal{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 320px;
      // border-radius: 5px;
      background-color: white;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      & > * {
        &:first-child{
          margin-top: 16px;
        }
        margin-left: 16px;
        margin-right: 16px;
      }
      p.Modal-title{
        font-size: 18pt;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
        font-weight: bold;
        color: #333;
      }
      .content{
        border-top: 1px solid #bebebe;
        margin-top: 16px;
        p{
          text-align: center;
          padding: 20px;
          margin-top: 15px;
          font-size: 13pt;
          font-weight: 500;
          color: #999;
        }
      }
  
      .button-wrap{
        margin: 0;
        margin-top: 8px;
        button{
          width: 100%;
          padding: 12px 0;
          background-color: #279274;
          border: #ffffff;
          // border-radius: 5px;
          font-size: 13pt;
          margin-left: 0px;
          margin-top:0.1px;
          color: white;
          cursor: pointer;
          &:hover{
            background-color: #33688b;
          }
          &:active{
            background-color: #33688b;
          }
        }
      }
    }

