.nav {
    height: 65px;
    flex-grow: 0;
    /* padding: 13px 1367px 13px 20px; */
    background-color: #ffffff;
}

.title {
    /* width: 533px; */
    /* height: 45.5px; */
    margin-left: 15px;
    margin-top: 14px;
    font-family: RedHatText;
    font-size: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #279274;
}

/* .bg {
    height: 1000px;
} */

.bg {
    background-image: url('../images/MainPicture.png');
    height: 615px;
}
.mainBody {
    padding-left: 30px;
    /* width: 1920px; */
    height: 615px;

    /* height: 895px; */
    flex-grow: 0;
    /* margin: 85.6px 0 0; */
}

.mainContent{
    width: 429px;
    height: 148px;
    flex-grow: 0;
    margin: 0px 5px 30px 0;
    padding-top:100px;
    font-family: Georgia;
    font-size: 65px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #279274;
  }

.subContent {
    height: 123px;
    flex-grow: 0;
    margin: 130px 0 0 14px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}


.btn-first {
    width: 137px;
    height: 65px;
    flex-grow: 0;
    display: flex;
    font-family: Lato;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 20px 5px 0 14px;
    padding: 20px 50px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    background-color: #279274;
    color: #ffffff;
    float:left;
}

.btn-second {
    width: 156px;
    height: 65px;
    flex-grow: 0;
    font-family: Lato;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 20px 358px 0px 5px;
    padding: 20px 50px;
    border-radius: 4px;
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: #33688b;
    float:left;
}