
.screen{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-grow: 0;
    background-color: #ffffff;
} 

.userNameText{
  height: 46px;
  margin: 0px 48px 8px 0px;
  font-family: Lato;
  font-size: 30px;
  line-height: 1.57;
  text-align: left;
  color: #000000;
}

.transferMessage{
  height: 71px;
  margin: 118px 0px 0px 0px;
  font-family: Lato;
  font-size: 30px;
  line-height: 1.57;
  text-align: left;
  color: #000000;
}
.second-body {
  text-align: center;
  width: 100%;
}

.withdrawerAccontText{
  width: 92px;
  height: 33px;
  margin-top: 28px;
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.withdrawerInput{
  margin-bottom: 10px;
}

.recentTransferRecordName{
  height: 24px;
  margin: 0 123px 257px 0;
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.TransferRecordBtn{
    width: 100px;
    height: 30px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 20px 5px 0 14px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #5633e2;
    background-color: #5633e2;
    color: #ffffff;
    float:left;
}

.checkBtn{
    width: 70px;
    height: 30px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 20px 5px 0 14px;
    padding-left: 20px;
    border-radius: 4px;
    border: solid 1px #01996d;
    background-color: #01996d;
    color: #ffffff;
    float:left;
}



.withdrawerAccount{
  width: 247px;
  height: 0px;
  /* margin: 96px 60px 38px 204px; */
    border: solid 2px #000000;
    background-color: #ffffff;
}

.recentTransferRecord {
  
  background-color: #000000;
}

.Trans{
  display: block;
  text-align: left;
  margin: auto;
  float: left;
  padding: 230px 0px 0px 150px;
  width: 35%;
}


.table-title {
  background-color: #33688b;
  color: #ffffff;
}

.history-table {
  margin-top:20px;
  text-align: center;
  width: 400px;
  border-radius: 10px;
}

.btn-history {
  width: 130px;
  height: 35px;
  flex-grow: 0;
  /* display: flex; */
  font-family: Lato;
  font-weight: bold;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  /* gap: 30px; */
  border-radius: 4px;
  border: solid 1px #ffffff;
  background-color: #279274;
  color: #ffffff;
}

.btn-check {
  width: 130px;
  height: 35px;
  flex-grow: 0;
  font-family: Lato;
  padding-top: 5px;
  font-weight: bold;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  color: #ffffff;
  border: solid 1px #ffffff;
  background-color: #33688b;
}